/* ini hiasan untuk phone */
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.mainb  {
    margin-top: 120px;
}
.bulatt{
    width: 40%;
    height: 150px;
    border-radius: 50%;
    background-color: blanchedalmond;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 0 4px rgb(7, 7, 7,.5);
}
.bulatt img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.maine p{
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footerrs{
    padding: 20px;
    background-color: black;
    color: #acacac;
    font-size: 12px;
    font-weight: 200;
}
.footerrs .row .col-lg-3{
    margin: auto;
    text-align: center;
}
/* ini hiasan untuk desktop */
@media (min-width: 992px) {
.mainb{
    margin-top: 150px;
}    
.bulatt{
    width: 90%;
    height: 150px;
    border-radius: 50%;
    background-color: blanchedalmond;
    overflow: hidden;
}
.bulatt img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footerrs{
    margin-top: 150px;
    padding: 30px;
    background-color: black;
    color: #acacac;
    font-size: 12px;
    font-weight: 200;
    height: 270px;
}

}
